body{
    font-family:arial;
    background-color: #f5f5f5;
    text-align: center;
}

.menu{
    
    width:300px;
    margin:auto;
    background:rgb(146, 219, 50);
    padding:20px;
    border:20px
}

.menu img{
    width:50px;
    height:50px;
    border-radius: 8px;
}

h2{color: brown; }

ol {
  padding-left: 20px;   /* */
}

li::marker {
  color: red;
  font-weight: bold;
}

