body{
    font-family:arial;
    background-color: #f5f5f5;
    text-align: center;
}

.menu{
    width:300px;
    margin:auto;
    background:skyblue;
    padding:10px;
    border:10px
}

h2{color: brown;}
ul{padding:0;}

li{
list-style: none;
padding: 8px;
border-bottom:1px solid=rebeccapurple;
display: flex;
justify-content:space-between;
}